<%- include("./partials/head.ejs") %>


<!-- Show posts by newst -->
<% if(postList != null && typeof postList != 'undefined') { %>
    <% postList.forEach( post => { %> 
        <div class="post">
            <h2><%= post.title %></h2>
            <h3>author: <%= post.author %></h3>
            <p>Origin date: <i><%= post.creationDate %></i></p>
            <hr>
            <p><%= post.content %></p>
            <% if(user !== null && typeof user !== 'undefined' && post.author === user.name) {%>
                <div>
                    <form action="/edit-post/<%=post._id%>" method="get">
                        <input type="hidden" name="postid" value="<%= post._id %>">
                        <button type="submit">Edit Post</button>
                    </form>
                    <form action="/delete-post/<%=post._id%>" method="get" >
                        <input type="hidden" name="postid" value="<%= post._id %>">
                        <button type="submit">Delete post</button>
                    </form>
                </div>
            <% } %>
        </div>
    <% }) %>
<% } %>
<%-include("./partials/footer.ejs") %>